@model core_mvc.Models.EmployeeInsert
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.emp_id</td>
            <td>@Model.emp_name</td>
            <td>@Model.emp_address</td>
            <td>@Model.emp_salary</td>
        </tr>
    </tbody>
</table>