@model IEnumerable<core_mvc.Models.EmployeeInsert>
<h2>ALL EMPLOYEE DETAILS</h2>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Salary</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var emp in Model)
        {
            <tr>
                <td>@emp.emp_id</td>
                <td>@emp.emp_name</td>
                <td>@emp.emp_address</td>
                <td>@emp.emp_salary</td>
                <td>
                    @using (Html.BeginForm("detalistab", "DisplayAll", new { id = emp.emp_id }, FormMethod.Post))
                    {
                        <button class="btn btn-success btn-xs" type="submit">Details</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>